@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter Tight';
	color: var(--white);
	background: var(--black);
	line-height: 1.07;
	overflow-x: hidden;
	font-size: 1.6rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
	cursor: url('../images/cursor.svg') 10 10, auto;
}

a,
button,
i,
::-webkit-scrollbar {
	cursor: url('../images/cursor.svg') 10 10, auto;
}

:root {
	--primary-f: "Inter Tight", sans-serif;
	--black: #0C0C0C;
	--white: #ffffff;
	--blue: #5822EF;
	--pink: #D2BDF8;
	--sky: #94BDF7;
	--gray: #B4C3D9;
	--primary-c: #000;
	--secondary-c: #ccc;
	--danger-c: #ff0000;
	--footer-height: 13rem;
	--wrap: 1860;
	--p-page: 30;
	--p-margin: 25rem;
	--header-height: 10rem;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
	/* Width for vertical scrollbar */
}

::-webkit-scrollbar-track {
	background: #d4d4d4;
	/* Color of the track */
}

::-webkit-scrollbar-thumb {
	background: #333;
	/* Color of the thumb */
	border-radius: 5px;
	/* Rounded corners for the thumb */
}
